@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "mona-sans";
  src: url("/fonts/mona-sans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
